In [46]:
import pandas as pd
import numpy as np

hosp = pd.read_csv('hosp.csv')

hosp.shape
hosp.head()

,Data_Month_Date,Country,HB_Treatment_Description,Treatment_Location_Code,Treatment_Location_Name,ED_MIU,Number_Of_Attendances_agg,Number_of_Attendances_Epi,Number_Meeting_Target_agg,Number_Meeting_Target_epi,Discharge_destination_admission_to_same,Discharge_destination_other_spec,Discharge_destination_residence,Discharge_destination_transfer,Discharge_destination_unknown,Attendance_greater_8hrs,Attendances_greater_12hrs
0,Jul-07,NHS Scotland,NHS Ayrshire & Arran,A101H,Arran War Memorial Hospital,MIU/Other,252,NaN,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jul-07,NHS Scotland,NHS Ayrshire & Arran,A111H,University Hospital Crosshouse - ED,ED,5414,5414.0,5290,5290.0,1985.0,11.0,3374.0,44.0,0.0,26.0,24.0
2,Jul-07,NHS Scotland,NHS Ayrshire & Arran,A207H,Davidson Cottage Hospital,MIU/Other,92,NaN,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jul-07,NHS Scotland,NHS Ayrshire & Arran,A210H,University Hospital Ayr - ED,ED,3530,3530.0,3355,3355.0,106.0,0.0,3369.0,8.0,47.0,3.0,1.0
4,Jul-07,NHS Scotland,NHS Borders,B103H,Knoll Community Hospital,MIU/Other,20,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
hosp["Year"] = [x[-2:] for x in hosp["Data_Month_Date"]]
hosp["HB_Treatment_Description"]
hosp["Data_Month_Date"]
hosp["Year"]

0        07
1        07
2        07
3        07
4        07
         ..
15466    21
15467    21
15468    21
15469    21
15470    21
Name: Year, Length: 15471, dtype: object